{% extends 'base.html.twig' %}

{% block title %}Gestion des chatons en BDD{% endblock %}

{% block body %}
    <h1>Gestion des chatons en BDD</h1>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for c in categorie %}
            <tr>
                <td>{{ c.nom }}</td>>
                <td>{{ c.description }}</td>
                <td><a href="{{ path("categorie_modifier",{"id":c.id}) }}"
                       class="btn btn-sm btn-warning">
                        Modifier
                    </a></td>
            </tr>
        {% endfor %}
    </table><br>
    <a href="{{ path("categorie_ajouter") }}" class = "btn btn-success">
        Ajouter une catégorie
    </a>
{% endblock %}
